
.card:hover {
  transform: translateY(-10px);
}

.card button {
  background-color: #b2d7ff;
  color: #242424;
  border: none;
  padding: 5px 10px; /* Reduce padding */
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  font-size: 14px; /* Adjust font size if needed */
  margin-top: 5px;
}

.card button:hover {
  background-color: #01bbff;
}
